<div class="cont">
    <p>Lista de programaciones</p>
    <br>
    <div class="row">
        <div class="col-md-2">
            <label for="fechaInicio" class="form-label">Fecha Inicio</label>
            <input type="date" id="fechaInicio" class="form-control" [formControl]="filtroFechaInicio"
                (change)="eventListar()">
        </div>
        <div class="col-md-2">
            <label for="fechaFin" class="form-label">Fecha Fin</label>
            <input type="date" id="fechaFin" class="form-control" [formControl]="filtroFechaFin"
                [min]="filtroFechaInicio.value | date: 'yyyy-MM-dd'" (change)="eventListar()">
        </div>
        <div class="col-md-3">
            <label for="empleado" class="form-label">Nombre empleado o documento</label>
            <input matInput (keyup)="filtroNombre($event)" type="text" id="empleado" class="form-control"
                [formControl]="filtroEmpleado">
        </div>

        <div class="col-md-3">
            <label for="area" class="form-label">Area</label>
            <ngx-select [items]="listaAreas" [formControl]="filtroArea" (ngModelChange)="eventListar()"></ngx-select>
        </div>
        <div class="col-md-2 mt-4 ">
            <button class="btn-buscar" (click)="limpiarFiltros()">Limpiar filtros</button>
        </div>
        <div class="mt-4 ">
            <button class="agregar" color="primary" style="margin-right: 15px;" mat-raised-button
                routerLink="/programar">
                <mat-icon>add</mat-icon>
                <span>Programar Varios</span>
            </button>

            <button class="agregar" color="primary" mat-raised-button (click)="openModal(templateOn, null)">
                <mat-icon>add</mat-icon>
                <span>Programar Individual</span>
            </button>

        </div>


    </div>

    <div class="row">

        <div class="table-responsive">
            <table class="table">
                <div class="card">
                    <div>
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>

                            <ng-container matColumnDef="empleado">
                                <th mat-header-cell *matHeaderCellDef>Empleado</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombreEmpleado}}</td>
                            </ng-container>
                            <ng-container matColumnDef="fechaHoraInicio">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="fecha">Entrada</th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaHoraInicio| date: 'short'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaHoraInicioBreak">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="fecha">Inicio Break</th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaHoraInicioBreak| date: 'short'}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="fechaHoraFinBreak">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header="fecha">Fin Break</th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaHoraFinBreak| date: 'short'}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="fechaHoraSalida">
                                <th mat-header-cell *matHeaderCellDef>Salida</th>
                                <td mat-cell *matCellDef="let element"> {{element.fechaHoraFin| date: 'short'}} </td>
                            </ng-container>

                            <ng-container matColumnDef="area">
                                <th mat-header-cell *matHeaderCellDef>Area</th>
                                <td mat-cell *matCellDef="let element"> {{element.nombreArea}} </td>
                            </ng-container>

                            <ng-container matColumnDef="editar">
                                <th mat-header-cell *matHeaderCellDef>Editar </th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button (click)="openModal(templateOn, element)"
                                        aria-label="editar">
                                        <mat-icon>create</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="liberar">
                                <th mat-header-cell *matHeaderCellDef>Liberar</th>
                                <td mat-cell *matCellDef="let element">
                                    <button mat-icon-button color="warn" (click)="liberar(element.idProgramacion)">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="6">No hay datos </td>
                            </tr>
                        </table>

                        <mat-paginator #paginator class="demo-paginator" (page)="handlePageEvent($event)"
                            [length]="totalItems" [pageSize]="size" [disabled]="disabled"
                            [showFirstLastButtons]="showFirstLastButtons"
                            [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []" [hidePageSize]="hidePageSize"
                            [pageIndex]="page" aria-label="Select page">
                        </mat-paginator>

                    </div>

                </div>
            </table>
        </div>
    </div>
</div>

<ng-template #templateOn>
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">{{tituloTemple}}</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" color="warn" aria-label="Close"
                (click)="modalRef.hide()"></button>
        </div>

        <div class="modal-body">
            <div class="container">
                <div class="row">

                    <div class="col-md-6">
                        <mat-label>Area</mat-label>
                        <ngx-select [items]="listaAreas" class="form-control" [formControl]="area"></ngx-select>
                    </div>

                    <div class="col-md-6">
                        <mat-label>Turno</mat-label>
                        <ngx-select [items]="listaTurnos" class="form-control" [formControl]="turnoControl"
                            (ngModelChange)="seleccionTurno($event)"></ngx-select>
                    </div>


                    <div class="col-md-6">
                        <label class="separador">Hora inicio</label>
                        <input class="form-control" matInput [formControl]="horaInicioControl" type="time" readonly>
                    </div>

                    <div class="col-md-6" *ngIf="turnoPartido">
                        <label class="separador">Inicio break</label>
                        <input class="form-control" matInput [formControl]="inicioBreakControl" type="time" readonly>
                    </div>

                    <div class="col-md-6" *ngIf="turnoPartido">
                        <label class="separador">Fin break</label>
                        <input class="form-control" matInput [formControl]="finBreakControl" type="time" readonly>
                    </div>

                    <div class="col-md-6">
                        <label class="separador">Hora fin</label>
                        <input class="form-control" matInput [formControl]="horaFinControl" type="time" readonly>
                    </div>

                    <div class="col-md-6">
                        <label class="separador">Fecha inicio</label>
                        <input class="form-control" matInput [formControl]="fechaInicioControl" type="date"
                            [min]="minDate | date: 'yyyy-MM-dd'" (change)="InicioSeleccionado($event)">
                    </div>

                    <div class="col-md-6" *ngIf="fechaSalidaDisable">
                        <label class="separador">Fecha fin</label>
                        <input class="form-control" matInput [formControl]="fechaFinControl" type="date"
                            [min]="fechaInicioControl.value |  date: 'yyyy-MM-dd'" [max]="maxDate">
                    </div>

                    <div class="col-md-12">
                        <mat-form-field appearance="outline">
                            <mat-label>Empleado</mat-label>
                            <input type="text" matInput [formControl]="keyword" (input)="buscarEmpleado()"
                                [matAutocomplete]="auto" />
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let option of listaEmpleados" [value]="option.nombre"
                                    (click)="seleccionarEmpleado(option)">
                                    {{ option.nombre }}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                (click)="modalRef.hide()">Volver</button>
            <button type="button" class="agregar" mat-raised-button
                (click)="tipoAccion(btnConfirmar)">{{btnConfirmar}}</button>

        </div>
    </div>
</ng-template>