<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-form-field appearance="outline">
                <mat-label>Buscar por numero de identificación</mat-label>
                <input type="text" matInput [formControl]="keyword" (input)="buscarEmpleado()"
                    [matAutocomplete]="auto" />
                <mat-autocomplete #auto="matAutocomplete">
                    <mat-option *ngFor="let option of listaEmpleados" [value]="option.nombre"
                        (click)="seleccionarEmpleado(option)">
                        {{ option.nombre }}
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </div>

    </div>
</div>



<div class="container mt-4" *ngIf="active">
    <div class="col-md-12">
        <div class="card" style="background-color: transparent; border: none;">
            <div class="card-body text-center">

                <ng-container *ngIf="tipoMarc==1||tipoMarc==2">
                    <div class="container">
                        <button class="btn-buscar" mat-raised-button color="primary" (click)="registrarMarcacion()">
                            <mat-icon>check_circle</mat-icon>
                            <span style="color: #ffff;"> Confirmar {{tipoMarcacion(tipoMarc)}}</span>
                        </button>
                    </div>
                </ng-container>

                <ng-container *ngIf="tipoMarc==0||tipoMarc==3">
                    <div class="container">
                        <div *ngIf="!fotoTomada">
                            <video #videoElement autoplay></video>
                        </div>
                        <div *ngIf="!fotoTomada">
                            <button (click)="tomarFoto()" class="agregar" mat-raised-button
                                [hidden]="!camaraActiva">Tomar
                                Foto</button>
                        </div>
                    </div>
                    <div *ngIf="fotoTomada" class="mb-4">
                        <button class="btn-buscar" mat-raised-button color="primary" (click)="registrarMarcacion()"
                            [disabled]="botonDeshabilitado">
                            <mat-icon>check_circle</mat-icon>
                            <span style="color: #ffff;"> Confirmar {{tipoMarcacion(tipoMarc)}}</span>
                        </button>
                    </div>


                </ng-container>
                <canvas #canvasElement></canvas>
            </div>

        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 mt-4 mb-4" *ngFor="let p of programacion"
            [ngClass]="{ 'd-none': activeCard && activeCard !== p }">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 1.5rem;">Area: {{p.nombreArea}}</h3>
                    <p class="card-title" style="font-size: 1.5rem;">Empleado: {{p.nombreEmpleado}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fuente-li">Hora de inicio: {{formatFecha(p.fechaHoraInicio)}} </li>
                    <li class="list-group-item fuente-li" *ngIf="p.fechaHoraInicioBreak">Hora de inicio break:
                        {{formatFecha(p.fechaHoraInicioBreak)}} </li>
                    <li class="list-group-item fuente-li" *ngIf="p.fechaHoraFinBreak">Hora fin break:
                        {{formatFecha(p.fechaHoraFinBreak)}} </li>
                    <li class="list-group-item fuente-li">Hora fin: {{formatFecha(p.fechaHoraFin)}}</li>
                </ul>
                <div class="card-body" *ngIf="p.tipo!=4">
                    <a (click)="activar(p)" class="agregar" mat-raised-button *ngIf="!active">Asistencia</a>
                </div>
            </div>
        </div>
    </div>
</div>