<div class="container mt-4" *ngIf="active">
    <div class="col-md-12">
        <div class="card" style="background-color: transparent; border: none;">
            <div class="card-body text-center">
                <ng-container *ngIf="tipoMarc==1||tipoMarc==2">
                    <div class="container">
                        <button class="btn-buscar" mat-raised-button color="primary" (click)="registrarMarcacion()">
                            <mat-icon>check_circle</mat-icon>
                            <span style="color: #ffff;"> Confirmar {{tipoMarcacion(tipoMarc)}}</span>
                        </button>
                    </div>
                </ng-container>

                <ng-container *ngIf="tipoMarc==0||tipoMarc==3">
                    <div class="container">

                        <div *ngIf="!fotoTomada">
                            <video #videoElement autoplay></video>
                        </div>

                        <div *ngIf="!fotoTomada">
                            <button (click)="tomarFoto()" class="btn-buscar" [hidden]="!camaraActiva">Tomar
                                Foto</button>

                        </div>
                    </div>
                    <div *ngIf="fotoTomada" class="mb-4">
                        <button class="btn-buscar" mat-raised-button color="primary" (click)="registrarMarcacion()"
                            [disabled]="botonDeshabilitado">
                            <mat-icon>check_circle</mat-icon>
                            <span style="color: #ffff;"> Confirmar {{tipoMarcacion(tipoMarc)}}</span>
                        </button>
                    </div>

                    <div class="row mb-3 d-flex justify-content-center align-items-center"
                        *ngIf="tipoMarc==0 && fotoTomada && manejaCasino">
                        <mat-form-field class="example-margin col-md-2">
                            <mat-label>Alimentación</mat-label>
                            <mat-select [(value)]="selected" [(ngModel)]="alimentacionSeleccionada">
                                <mat-option value="s">Si</mat-option>
                                <mat-option value="n">No</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </ng-container>
                <canvas #canvasElement></canvas>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-6 mt-4 mb-4" *ngFor="let p of programacion"
            [ngClass]="{ 'd-none': activeCard && activeCard !== p }">
            <div class="card " style="max-width: 600px;">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 1.5rem;">Area: {{p.nombreArea}}</h3>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item fuente-li">Hora de inicio: {{ formatFecha(p.fechaHoraInicio) }} </li>
                    <li class="list-group-item fuente-li" *ngIf="p.fechaHoraInicioBreak">Hora de inicio break:
                        {{formatFecha(p.fechaHoraInicioBreak)}} </li>
                    <li class="list-group-item fuente-li" *ngIf="p.fechaHoraFinBreak">Hora fin break:
                        {{formatFecha(p.fechaHoraFinBreak)}} </li>
                    <li class="list-group-item fuente-li">Hora fin: {{formatFecha(p.fechaHoraFin)}}</li>
                </ul>
                <div class="card-body" *ngIf="p.tipo!=4">
                    <a (click)="activar(p)" class="btn btn-buscar" *ngIf="!active">Asistencia</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class=" alerta container" *ngIf="bandera">
    <div class="alert alert-danger" role="alert" style="text-align: center;">
        No tiene programación asignada
    </div>
</div>