.cont{
    padding: 20px;
  }
  
  .btn-warning {
    padding: 0.20rem 0.5rem;
  }
  
  
  .mat-elevation-z8 {
    width: 100%;
  }
  
  
  p {
    padding-top: 2px;
    padding-left: 0px;
    width: 100%;
    color: #005e3d;
    font-size: 25px;
    font-weight: 1000;
    text-align: center;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  
  }
  
  .agregar {  
    width: 160px;
    background-color: #005e3d;
    color: white;
    border: 1px solid transparent;
    font-size: 1rem;
    font-family: inherit;
    border: none;
    height: 40px;
  }
  
  .a {
    margin-bottom: 8px;
    margin-top: 0%;
  }
  
  .agregar:hover {
    color: white;
    border: solid transparent;
    border-radius: 8px;
    border: black;
    opacity: 0.8; 
  }
  
  th {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    min-width: 120px;
  
  
  }
  
  mat-form-field {
    min-width: 100%;
  
    padding-top: 10px;
  }
  
  .table-responsive {
    margin-top: 20px;
  }
  
  
  .input-group {
    height: 40px;
  }
  
  
  
  /* Estilo para etiquetas */
  .form-label {
    font-weight: bold;
    color: #333;
    /* Color de etiquetas */
  }
  
  /* Separa los label verticalmente desde la parte de arriba*/
  .separador{
    margin-top: 15px;
  }
  
  
  /* Estilo para campos de entrada */
  .form-control {
    border: 1px solid #ccc;
    /* Borde de los campos de entrada */
    border-radius: 5px;
    /* Bordes redondeados */
    padding: 10px;
  }
  
  /* Estilo para el botón de búsqueda (si es necesario) */
  .btn-buscar {
    background-color: #005e3d;
    /* Color de fondo del botón */
    color: #fff;
    /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  /* Cambiar el color del fondo del botón cuando se le pasa el mouse */
  .btn-buscar:hover {
    background-color: #20B2AA;
  }
  
  /* Estilo para íconos (si los utilizas) */
  .icon {
    font-size: 20px;
    margin-right: 10px;
  }
  
  /* Estilo para el contenedor principal del formulario */
  .container {
    max-width: 800px;
    /* Ancho máximo del formulario */
    margin: 0 auto;
    /* Centrar el formulario en la página */
  }
  
  /* Estilo para el fondo del formulario (si es necesario) */
  .form-background {
    background-color: #f5f5f5;
    /* Color de fondo del formulario */
    padding: 20px;
    /* Espaciado interior del formulario */
    border-radius: 10px;
    /* Bordes redondeados del formulario */
  }
  
  /* Agrega más estilos personalizados según tus preferencias */
  /* Establece un ancho fijo para la columna "empleado" */
.mat-column-empleado {
    min-width: 200px;
    /* Cambia el valor según tus necesidades */
    padding: 2px;
  }
  
  /* Establece un ancho fijo para la columna "fechaHoraInicio" */
  .mat-column-fechaHoraInicio,
  .mat-column-fechaHoraInicioAlmuerzo,
  .mat-column-fechaHoraFinAlmuerzo,
  .mat-column-fechaHoraSalida {
    padding: 2px;
    min-width: 100px;
    /* Cambia el valor según tus necesidades */
  }
  
  /* Establece un ancho fijo para la columna "fechaHoraInicio" */
  .mat-column-imagenInicio,
  .mat-column-ubicacionInicio,
  .mat-column-imagenSalida,
  .mat-column-ubicacionSalida {
    padding: 1px;
    min-width: 7px;
    /* Cambia el valor según tus necesidades */
  }
  
  /* Establece un ancho fijo para la columna "fechaHoraInicio" */
  .mat-column-tiempoTotal,
  .mat-column-cliente {
    padding: 2px;
    min-width: 10px;
    /* Cambia el valor según tus necesidades */
  }