<mat-toolbar>
  <button mat-icon-button class="mat-icon-button" (click)="sidenav.toggle()" *ngIf="config.islogged">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span class="spacer"></span>
  <div>
    <span *ngIf="config.displayName"></span>
    <button mat-icon-button class="mat-icon-button" routerLink="/" *ngIf="!config.islogged">
      <mat-icon>
        account_circle
      </mat-icon>
    </button>

    <button mat-icon-button class="mat-icon-button" routerLink="/" (click)="onLogOut()" *ngIf="config.islogged">
      <mat-icon>
        exit_to_app
      </mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #sidenav="matDrawer" class="toolbar" *ngIf="config.islogged">
    <img class="avatar " src="./assets/logo.png" />
    <mat-divider></mat-divider>
    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/programacion/listar"
      *ngIf="tokenService.validarRol('Administrador')||tokenService.validarRol('JEFE')">
      <mat-icon>list</mat-icon>
      <span>Lista programaciones</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/envase/listar">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Envases</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/tapas/listar">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Tapas</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/quimicos/listar">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Quimicos</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/combos/listar">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Combos</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/tipos-envases/listar">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Tipos de envases</span>
    </button>


    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/empleado/listar"
      *ngIf="tokenService.validarRol('Administrador')||tokenService.validarRol('JEFE')">
      <mat-icon>group</mat-icon>
      <span>Empleados</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/usuarios-tablet/listar"
      *ngIf="tokenService.validarRol('Administrador')||tokenService.validarRol('JEFE')">
      <mat-icon>person</mat-icon>
      <span>Usuarios Tablet</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="log/listar"
      *ngIf="tokenService.validarRol('Administrador')">
      <mat-icon>assignment</mat-icon>
      <span>Log</span>
    </button>
  </mat-drawer>


  <mat-drawer-content>
    <div class="cont">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <footer>
        {{config.version}} Powered by Sipcommb © {{config.anio}}
      </footer>
    </div>
  </mat-drawer-content>

</mat-drawer-container>