<mat-toolbar>
  <button mat-icon-button class="mat-icon-button" (click)="sidenav.toggle()" *ngIf="config.islogged">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <span class="spacer"></span>
  <div>
    <span *ngIf="config.displayName"></span>
    <button mat-icon-button class="mat-icon-button" routerLink="/" *ngIf="!config.islogged">
      <mat-icon>
        account_circle
      </mat-icon>
    </button>

    <button mat-icon-button class="mat-icon-button" routerLink="/" (click)="onLogOut()" *ngIf="config.islogged">
      <mat-icon>
        exit_to_app
      </mat-icon>
    </button>
  </div>
</mat-toolbar>


<mat-drawer-container>
  <mat-drawer #sidenav="matDrawer" class="toolbar" *ngIf="config.islogged">
    <img class="avatar " src="./assets/logo.png" />
    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/tipos-envases/listar">
      <mat-icon>category</mat-icon>
      <span>Tipos de envases</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/envase/listar">
      <mat-icon>science</mat-icon>
      <span>Envases</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/tapas/listar">
      <mat-icon>album</mat-icon>
      <span>Tapas</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/quimicos/listar">
      <mat-icon>medication_liquid</mat-icon>
      <span>Quimicos</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/combos/listar">
      <mat-icon>all_inclusive</mat-icon>
      <span>Combos</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/compatibles">
      <mat-icon>sync_alt</mat-icon>
      <span>Compatibilidad</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/extractos">
      <mat-icon>water_drop</mat-icon>
      <span>Extractos</span>
    </button>

    <mat-divider></mat-divider>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/empleado/listar">
      <mat-icon>accessibility</mat-icon>
      <span>Empleados</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/subir-excel">
      <mat-icon>widgets</mat-icon>
      <span>Subir Inventario</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/historial-ventas">
      <mat-icon>playlist_add_check</mat-icon>
      <span>Historial ventas</span>
    </button>

    <button mat-button class="menu-button" (click)="sidenav.close()" routerLink="/transacciones">
      <mat-icon>assignment</mat-icon>
      <span>Transacciones</span>
    </button>
  </mat-drawer>


  <mat-drawer-content>
    <div class="cont">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
      <footer>
        {{config.version}} Powered by Sipcommb © {{config.anio}}
      </footer>
    </div>
  </mat-drawer-content>

</mat-drawer-container>