<div class="cont">
  <p>Exportar lista de programaciones</p>
  <br>
  <div class="row">
    <div class="col-md-2">
      <label for="fechaInicio" class="form-label">Fecha Inicio</label>
      <input type="date" id="fechaInicio" class="form-control" [formControl]="filtroFechaInicio"
        (change)="onFechaSeleccionada($event)">
    </div>
    <div class="col-md-2">
      <label for="fechaFin" class="form-label">Fecha Fin</label>
      <input type="date" id="fechaFin" class="form-control" [formControl]="filtroFechaFin"
        [min]="filtroFechaInicio.value | date: 'yyyy-MM-dd'" (change)="onFechaSeleccionada($event)">
    </div>
    <div class="col-md-3">
      <label for="empleado" class="form-label">Nombre empleado o documento</label>
      <input matInput (keyup)="filtroNombre($event)" type="text" id="empleado" class="form-control"
        [formControl]="filtroEmpleado">
    </div>
    <div class="col-md-3">
      <label for="area" class="form-label">Area</label>
      <ngx-select [items]="listaAreas" [formControl]="filtroArea"
        (ngModelChange)="onFechaSeleccionada($event)"></ngx-select>
    </div>
    <div class="col-md-2 mt-4 ">
      <button class="btn-buscar" (click)="limpiarFormulario()">Limpiar filtros</button>
    </div>
    <div class="mt-4 ">
      <button class="agregar" color="primary" mat-raised-button (click)="openModal(templateLoading)">
        <mat-icon>image</mat-icon>
        <span>Exportar programación</span>
      </button>
    </div>
  </div>



   <table class="export table table-striped table-bordered">
    <thead>
      <tr>
        <th class="empleado">Empleado</th>
        <th class="area-col">Area</th>
        <th>Entrada</th>
        <th>Entrada Break</th>
        <th>Salida Break</th>
        <th>Salida</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="listaProgramaciones?.length === 0">
        <td colspan="6" class="text-center">No hay datos disponibles.</td>
      </tr>
      <tr *ngFor="let programacion of listaProgramaciones">
        <td>{{ programacion.nombreEmpleado }}</td>
        <td>{{ programacion.nombreArea }}</td>
        <td>{{ formatFecha(programacion.fechaHoraInicio)}}</td>
        <td>{{ formatFecha(programacion.fechaHoraInicioBreak)}}</td>
        <td>{{ formatFecha(programacion.fechaHoraFinBreak)}}</td>
        <td>{{ formatFecha(programacion.fechaHoraFin)}}</td>
      </tr>
    </tbody>
  </table>


</div>


<ng-template #templateLoading>
  <h2 style="text-align: center;">Cargando...</h2>
  <mat-progress-bar mode="indeterminate" *ngIf="IsWait"> </mat-progress-bar>
</ng-template>